<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="shortcut icon" href="PFP-modified.png">
    <link rel="stylesheet" href="port.css">
    
    <script src="port.js"></script>
    <script src="Angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="mycontroller">
    <div id="navb"> 
        <button id="menu-button"></button>
        <ul>
            <li><a ng-click="showSection('home')"> HOME</a></li>
            <li><a ng-click="showSection('about')">ABOUT</a></li>
            <li><a ng-click="showSection('projects')">PROJECTS</a></li>
            <li><a ng-click="showSection('contact')">CONTACT</a></li>
            
        </ul>
    </div>
    <section id="port" ng-show="currentSection === 'home'">
        <div id="right">
            <div id="homea"></div>
            <img src="Profile.jpeg" id="boy">
        </div>
        <div id="left">
            <div id="home">
                <h2>Hi there! I'm <mark>Mohammed Faizan</mark></h2> 
                <p>I am a Computer Science student at NIE Institute of Technology. I have always been interested in programming and web development.</p>
            </div>  
        </div>
    </section>
    <!-- About section -->
    <section id="about" ng-show="currentSection === 'about'" >
        <div id="title"><div>RESUME</div><p>ABOUT</p></div>
        <div id="abt" >
            <section>
                <h4>Personal Info</h4>
                <div><strong>Name: </strong> Mohammed Faizan</div>
                <div><strong>Phone: </strong> +91 9916588232</div>
                <div><strong>Qualification: </strong>B.E (Computer Science)</div>
                <div><strong>Age: </strong> 20</div>
                <div><strong>Languages: </strong> English, Hindi, Kannada, urdu</div>
                <div><strong>Nationality: </strong>Indian</div>
            </section>
            <section id="box">
                
                <p>3 <span>Projects</span></p>
                <p>3 <span>Internships</span></p>
                <p>10+ <span>Awards</span></p>
                <p><a href="https://drive.google.com/uc?export=download&id=1Z6ujFmLi878hy7LDu05ut8juZs0k75Kr" download>&downarrow; Download</a> <span>CV</span></p>
                
            </section>
            
        </div>
    </section>
    <section>
        <div id="projects" ng-show="currentSection === 'projects'">
            <div id="title"><div>MY WORK</div><p>PROJECTS</p></div>
            <div class="container"> 
                <div class="card">
                    <div class="face face1">
                      <div class="content">
                         <i class="fab fa-windows"></i>            
                        <h3>Alumni-Tracking-System</h3>
                      </div>
                    </div>
                    <div class="face face2">
                      <div class="content">
                        <p>Developed a dynamic web-based application to manage and update the details of university graduates, providing them with daily updates on university events. Utilized Express.js and Node.js for a robust backend architecture, while leveraging AngularJS for a user-friendly and interactive frontend. Proficient in HTML, CSS, and JavaScript to create a seamless and engaging user experience.</p>
                        <a href="https://github.com/m-panda-f/Alumni-Tracking-System" type="button">View  Project</a>

                      </div>
                    </div>
                 </div>
                 <div class="card">
                    <div class="face face1">
                      <div class="content">
                         <i class="fab fa-windows"></i>            
                        <h3>Zoo-Management-System</h3>
                      </div>
                    </div>
                    <div class="face face2">
                      <div class="content">
                        <p>
                            I developed a web-based application using Node.js and JavaScript. The app allows users to access detailed information about animals and includes an online ticket booking system for zoo visits. I used AngularJS for the frontend and Node.js and Express.js for the backend.</p>
                        <a href="#" type="button">View  Project</a>

                      </div>
                    </div>
                    </div>
                    <div class="card">
                        <div class="face face1">
                          <div class="content">
                             <i class="fab fa-windows"></i>            
                            <h3>Eve's Guide</h3>
                          </div>
                        </div>
                        <div class="face face2">
                          <div class="content">
                            <p>
                                Currently working on a Mobile Application Based Project built with flutter/ dart
                                language and firebase which is specifically built with a concept for Women’s Safety and their
                                Reproductive health. It comprises Safety Articles, Fake Caller, Medicine/pads Purchase
                                facilities, period Tracker and much more.
                            </p>
                            <a href="https://github.com/m-panda-f/EvesGuide" type="button">View  Project
                            </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

            
            
    </section>
    <!-- Contact Section -->
    <section id="contact" ng-show="currentSection === 'contact'">
        <div id="title"><div>GET IN TOUCH</div><p>CONTACT</p></div>
            <div id="cont">
                <section id="form">
                    <form id="contact-form" action="submit" >
                        <input name="name" type="text" placeholder="Name">
                        <input type="email" placeholder="Email" name="email">
                        <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                        <button>Send</button>
                    </form>
                </section>
                <section id="info">
                    <h4>Address</h4>
                    <p id="p">#63 LIG 2 KHB Colony Kalayangiri Mysore</p>
                    <h4>Email</h4>
                    <p id="p">mohammedfaizan123h@gmail.com</p>
                    <h4>Phone</h4>
                    <p id="p">+91 9916588232</p>
                </section>
            </div>
    </section>


    <script>
        var app = angular.module('myapp', []);
        app.controller('mycontroller', function($scope) {
        $scope.currentSection = 'home';

        $scope.showSection = function(section) {
        $scope.currentSection = section;
            };
        });
       
emailjs.init("hecxcItnw-wJp3Wsy"); // Replace with your EmailJS user ID
document.querySelector('#contact-form').addEventListener('submit', function(event) {
    event.preventDefault();
    var userEmail = document.querySelector('#contact-form input[name="email"]').value;

    emailjs.sendForm('service_i6f7mdu', 'template_3s0x4jm', this, {
            reply_to: userEmail,
            name: document.querySelector('#contact-form input[name="name"]').value,
            message: document.querySelector('#contact-form input[name="message"]').value
            })
            .then(function() {
                alert('Email sent successfully!');
            }, function(error) {
                console.log('Failed to send email: ' + error);
            });
        });
     // Replace with your EmailJS service ID and template ID
    </script>
    <script>
        
function dark(){
    const lo= document.getElementById("left");
   const lw=document.getElementById("home");
   const a=document.getElementById("abt");
   const c=document.getElementById("cont");
   const p=document.getElementById("proj");
   const y=document.getElementById("p");
   a.style.background = "black";
   a.style.borderRadius = "12px";
   a.style.color= "white";
   y.style.color='white'
   c.style.background = "black";
   c.style.borderRadius = "12px";
   c.style.color= "white";
   p.style.background = "black";
   p.style.borderRadius = "12px";
   p.style.color= "white";
   lw.style.color = "white";
   lo.style.backgroundColor = "black";
   
}
function light(){
   const lo= document.getElementById("left");
   const lw=document.getElementById("home");
   const a=document.getElementById("abt");
   const c=document.getElementById("cont");
   const p=document.getElementById("proj");
   const y=document.getElementById("p");
   const tt=document.getElementById("toggle-off");

   tt.style.backgroundColor= "black";
   a.style.background = "#fffffff3";
   a.style.color= "black";
   a.style.borderRadius = "12px";
   y.style.color='black'
   p.style.background = "#fffffff3";
   p.style.color= "black";
   p.style.borderRadius = "12px";
   c.style.background = "#fffffff3";
   c.style.color= "black";
   c.style.borderRadius = "12px";
   lw.style.color = "black";
   lo.style.backgroundColor = "#fffffff3";
}
document.getElementById('menu-button').addEventListener('click', function() {
    var navUl = document.querySelector('#navb ul');
    navUl.classList.toggle('active');
});

    </script>
</body>
</html>
